@model IEnumerable<ProjectOne.Models.Order>

@{
    ViewData["Title"] = "Orders";
}

<h1>Orders</h1>

<p>
    <a asp-action="Create">Create New Order</a>
</p>
<p>
    <a asp-action="searchCustomer">See orders by Customer</a>
</p>
<p>
    <a asp-action="SearchOrdID">See orders by ID</a>
</p>
<p>
    <a asp-action="SearchStore">See orders by store</a>
</p>


