@model ProjectOne.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Customer</h4>
@if ((string)TempData["SuccessMessage"] == "good")
{
    <div class="alert alert-success alert-dismissible fade show">
        <strong>Success!</strong> New customer has been added
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
}
else if ((string)TempData["FailMessage"] == "bad")
{
<div class="alert alert-danger alert-dismissible fade show">
    <strong>Error!</strong> That is not a valid StoreID, try again
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LName" class="control-label"></label>
                <input asp-for="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultSto" class="control-label"></label>
                <input asp-for="DefaultSto" class="form-control" />
                <span asp-validation-for="DefaultSto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

